.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #145da0;
  font-size: 22px;
  font-weight: bold;
}
.products {
  margin-top: 50px;

  img {
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }
}

#create-modal,
#update-modal {
  display: none;
}

#container {
  position: relative;
}

.create-modal {
  position: absolute;
  top: 100px;
  left: 300px;
  background-color: white;
  width: 432px;
}
