.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #145DA0;
  font-size: 22px;
  font-weight: bold;
}
.products {
  margin-top: 50px;

  img {
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }
}
