.form {
    max-width: 432px;
    padding: 72px 16px 32px 16px;
    width: 100%;
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin: 100px auto;
    text-align: center;
    background-color: #145DA0;
    border-radius: 12px;
    color: white;
  
    a{
      color: white;
      font-size: small;
    }
  }
  
  